{:deps
 {io.prometheus/simpleclient
  {:mvn/version "0.15.0"}

  io.prometheus/simpleclient_common
  {:mvn/version "0.15.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.66.1034"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-perf
  {:extra-paths ["test"]

   :extra-deps
   {criterium/criterium
    {:mvn/version "0.4.6"}}}

  :depstar
  {:replace-deps
   {com.github.seancorfield/depstar
    {:mvn/version "2.1.303"}}

   :ns-default hf.depstar
   :exec-args
   {:sync-pom true
    :version "0.6-alpha.4"
    :jar "target/prom-metrics.jar"}}

  :outdated
  {:replace-deps
   {com.github.liquidz/antq
    {:mvn/version "1.6.774"}

    org.slf4j/slf4j-nop
    {:mvn/version "1.7.36"}}

   :main-opts ["-m" "antq.core"]}}}
