{:deps
 {io.prometheus/simpleclient {:mvn/version "0.11.0"}
  io.prometheus/simpleclient_common {:mvn/version "0.11.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.0.861"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-perf
  {:extra-paths ["test"]

   :extra-deps
   {criterium/criterium {:mvn/version "0.4.6"}}}

  :depstar
  {:replace-deps
   {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}

   :ns-default hf.depstar
   :exec-args
   {:sync-pom true
    :version "0.6-alpha.2"
    :jar "target/prom-metrics.jar"}}

  :outdated
  {:replace-deps
   {com.github.liquidz/antq {:mvn/version "0.16.3"}

    org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}

   :main-opts ["-m" "antq.core"]}}}
